[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=QuickExport
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=QuickExport
Comment=Export images quickly
